.form {
    position: absolute;
    top: 12rem;
    left: 48rem;
    width: 350px;
}

.form-control-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.exp-group {
    width: 50%;
}

.label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.15rem;
    padding-top: 1rem;
    color: hsl(278, 68%, 11%);
}

.input {
    padding: 0.7rem 1rem;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 8px;
    font-size: 18px;
}

.input-small {
    width: 40%;
}

.form-control-details-group {
    display: flex;
    gap: 1rem;
}

.input-group {
    display: flex;
    gap: 0.5rem;
}

.btn {
    padding: 0.8rem 0.9rem;
    border: 1px solid hsl(278, 68%, 11%);
    background-color: hsl(278, 68%, 11%);
    border-radius: 8px;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.1rem;
    width: 100%;
    margin-top: 2rem;
}

.input {
    padding: 0.7rem 1rem;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 8px;
    font-size: 18px;
}

.input:focus {
    outline: none;
    border: 1px solid hsl(278, 94%, 30%);
}

.input.error{
    border: 1px solid hsl(0, 100%, 66%);

}

.error-msg {
    color: hsl(0, 100%, 66%);
    font-size: 12px;
    margin-bottom: 0;
}

@media (max-width: 470px) {
    .form {
        top: 19rem;
        left: 1.6rem;
        width: 320px;
    }

    .label {
        font-size: 10px;
    }
}

@media (min-width: 471px) and (max-width: 800px) {
    .form {
        top: 22rem;
        left: 2.5rem;
        width: 400px;
    }

    .label {
        color: hsl(270, 3%, 87%);
    }

    .btn {
        color: hsl(278, 68%, 11%);
        background-color: hsl(249, 99%, 90%);
    }
}

@media (min-width: 801px) and (max-width: 1130px) {
    .form {
        left: 45rem;
        padding-right: 2rem;
    }
}

