.card-back {
    background-image: url("../../../public/bg-card-back.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 25.5rem;
    left: 14rem;
    width: 447px;
    height: 245px;

}

.cvc-number {
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 6rem;
    right: 3.3rem;
    font-size: 16px;
    letter-spacing: 0.15rem;
}

@media (max-width: 470px) {
    .card-back {
        top: 2.5rem;
        left: 5rem;
        width: 268.2px;
        height: 147px;
        background-size: contain;
    }

    .cvc-number {
        top: 3.5rem;
        left: 13rem;
        font-size: 10px;
        letter-spacing: 0.1rem;

    }
}

@media (min-width: 471px) and (max-width: 800px) {
    .card-back {
        width: 357px;
        height: 196px;
        background-size: contain;
        top: 2.5rem;
        left: 10rem;
    }

    .cvc-number {
        top: 4.4rem;
    }
}